.sliderContainer {
    background-color: chartreuse;
}
.roomsContainer {
    background-color: teal;
}
.amenitiesContainer {
    background-color: #D5B741;
}
.contactContainer {
    background-color: #2E3D33;
}